<div class="planet-grid"
     appPositionPatternGenerator
     [shadowConfig]="'10px 0 120px 20px'"
     [maxSize]="500"
     [minSize]="500"
     [colorScope]="100"
     [alfaColorScope]="1"
     (generatedColor)="generatedColor = $event">
  <ng-content></ng-content>
  <div class="grid-wrapper translateZ rotateY">
    <div class="grid">
      <div class="grid-element"
           *ngFor="let gridElement of gridDensity; index as i"
           [ngStyle]="{'background-color': generatedColor}"
           appGridPatternGenerator
           [elementIndex]="i"
           [setTranslateZ]="(hitElements$ | async)?.includes(i) ? 290 : 260"
           [itemsSum]="gridDensity.length">
        <app-destruction-effect *ngIf="(hitElements$ | async)?.includes(i)"></app-destruction-effect>
      </div>
    </div>
  </div>
</div>
