.planet-wrapper {
  width: 500px;
  height: 500px;
  border-radius: 100% !important;
  z-index: 1;
  left: 600px;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-shadow: 14px 14px 120px 1px rgb(236 221 155 / 80%) !important;
}

.planet-shadow {
  width: 100%;
  height: 100%;
  box-shadow: inset 122px 12px 110px rgb(16 15 12 / 96%) !important;
}

.planet-shadow-wrapper {
  width: 100%;
  height: 100%;
}

.elements-wrapper {
  position: relative;
  width: 6200px;
  height: 100%;
  border-radius: 100%;
}

.planet-element {
  animation: rotate;
  animation-duration: 230s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-fill-mode: none;
  animation-timing-function: linear;
  box-shadow: 0 0 70px 10px rgba(0, 0, 0, .5);
  z-index: 1;
}

@keyframes rotate {
  0% {
    margin-left: 3%;
  }
  100% {
    margin-left: -98%;
  }
}
