.explosion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: none;
  animation: explosion-center-grow;
  width: 4rem;
  height: 4rem;
  animation-duration: 25s;
  animation-delay: 0s;
  animation-play-state: running;
  animation-fill-mode: none;
  animation-timing-function: linear;
  position: absolute;
  margin-top: -2rem;
}

.explosion-effect {
  animation: explosion-grow;
  border-radius: 100%;
  transform: rotate(40deg);
  animation-duration: 25s;
  animation-delay: 0s;
  animation-play-state: running;
  animation-fill-mode: none;
  animation-timing-function: linear;
}

@keyframes explosion-center-grow {
  0% {
    background-color: rgba(128, 0, 11, 0.93);
    box-shadow: 0 0 0 0 rgba(128, 0, 11, 0.93);
  }
  70% {
    box-shadow: 0 0 100px 155px rgba(128, 0, 11, 0.93);
  }
  100% {
    background-color: rgba(128, 0, 11, 0.93);
    box-shadow: 0 0 10px 15px rgba(128, 0, 11, 0.93);
  }
}

@keyframes explosion-grow{
  0% {
    box-shadow: 0 0 20px 12px rgba(128, 0, 11, 0.93);
  }
  50% {
    box-shadow: 0 0 410px 306px rgba(128, 0, 11, 0.93);
  }
  80% {
    box-shadow: 0 0 100px 112px rgba(128, 0, 11, 0.93);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(128, 0, 11, 0.93);
  }
}
